{% extends "base.html" %}
{% block content %}

<h2 class="text-3xl font-bold mb-6">Edit Customer</h2>

<form method="POST" class="space-y-4">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <input type="text" name="name" value="{{ feedback.name }}"
        class="w-full p-3 bg-gray-800 rounded">

    <input type="text" name="phone" value="{{ feedback.phone }}"
        class="w-full p-3 bg-gray-800 rounded">

    <input type="text" name="service" value="{{ feedback.service }}"
        class="w-full p-3 bg-gray-800 rounded">

    <textarea name="text"
        class="w-full p-3 bg-gray-800 rounded">{{ feedback.text }}</textarea>

    <button class="bg-blue-500 px-5 py-2 rounded">
        Update
    </button>

</form>

{% endblock %}